{% assign date = page.date | date: "%Y-%m-%d" %}

<div id="chart-container"></div>
<script>
FusionCharts.ready(function() {
var salesMap = new FusionCharts({
  type: 'maps/texas',
  renderAt: 'chart-container',
  width: '600',
  height: '600',
  dataFormat: 'json',
  dataSource: {
    "chart": {
      "caption": "COVID-19 Risk Level on {{ page.date | date: "%a, %b %d, %Y" }}",
      "showLabels": "0",
      "entityFillHoverColor": "#666666",
      "formatNumberScale": "1"
    },
    "data": [
    {% for county in site.data.covid %}

    {% assign ma = county.[date]] | times: 1%}

    {
      "id": "{{ county.ID }}",
      "value": "{{ ma }}",
      "showLabel": "0",
      "displayValue": "{{ ma }}",
      "color": {% include color.html %}


    },
    {% endfor %}

    ]
  }
}).render();
});
  </script>

  <p>If you are having trouble reading this in your email or an RSS reader, <a href="{{ site.url }}{{ page.url | relative_url }}">see the original post.</a></p>
